{{!-- Template to be injected into all handlebars pages --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
</head>
<body>
    {{!-- TODO: Create navbar for page header containing links to Home, Dashboard, & Logout --}}
    
</body>
</html>